.View {
  text-align: center;
}

.View-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #f8f9fa;
}

.Content {
margin-top: 50px;
}

.player-wrapper {
  //width: 480px;
  //height: 270px;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, .1);
}